
.home{
display: flex;
justify-content: center;
margin-right: auto;
margin-left: auto;
max-width: 1500px;
flex-direction: column;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
